.popup {
	display: none;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, .5);
	opacity: 0;
}

.popup.popup__opened {
	animation: fade-in 500ms forwards;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}