.popup__container {
	background-color: #fff;
	height: 330px;
	width: 430px;
	z-index: 2;
	border-radius: 10px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 0 36px 0 36px;
	box-sizing: border-box;
}