.profile__info {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	row-gap: 8px;
	max-width: 336px;
	margin-left: 30px;
}

@media screen and (max-width: 656px) {
	.profile__info {
		justify-content: center;
		margin: 26px 0 36px 0;
		row-gap: 6px;
	}
}